
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
/public/images/products/*
!/public/images/products/symfony-black-02-616f067cd73d5465451698.png
/public/media/
